{% extends 'layout.html' %}

{% block body %}
<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <form action="/update/{{contact.0}}" method="POST">
            <div class="form.group">
                    <input type="text" name="nombres" placeholder="Nombres"  value="{{ contact.1 }}" class="form-control">
            </div>
            <div class="form.group">
                    <input type="text" name="apellidos" placeholder="Apellidos" value="{{ contact.2 }}" class="form-control">
            </div>
            <div class="form.group">
                    <input type="text" name="identificacion" placeholder="Identificacion" value="{{ contact.3 }}" class="form-control">
            </div>
            <div class="form.group">
                    <input type="text" name="email" placeholder="Email" value="{{ contact.4 }}" class="form-control">
            </div>
            <div class="form.group">
                    <input type="text" name="password" placeholder="Password" value="{{ contact.5 }}" class="form-control">
            </div>
            <div class="form.group">
                    <input type="number" name="edad" placeholder="Edad" value="{{ contact.6 }}" class="form-control">
            </div>
            <div class="form.group">
                    <button type="submit" class="btn btn-success btn-block">
                            Save
                    </button>
            </div>
           
        </form>
    </div>
</div>
{% endblock %}